# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/.gradle/
ios/.build/
*.g.dart
*.freezed.dart

# Sensitive
*.env
google-services.json# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/.gradle/
ios/.build/
*.g.dart
*.freezed.dart

# Sensitive
*.env
google-services.json